name: Run CI

on:
  push:
    branches: [ main ]
    paths:
      - '*.go'
  workflow_dispatch:

jobs:
  run_ci:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - run: go test
